<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<td>{{existingProduct.id}}</td>
<td><input type="text" ng-model="existingProduct.name" class="form-control input-sm"/>
</td>
<td><input type="text" ng-model="existingProduct.description" class="form-control input-sm"/>
</td>
<td>
    <!--Again we use ng-repeat to allocate the elements in the list whilst editing a product-->
    <select id="category" ng-model="existingProduct.category">
        <option class="form-control input-sm" ng-repeat="p1 in categoryList | filter:filtercategoryList | orderBy:orderByField:reverseSort" value="{{p1.categoryName}}">{{p1.categoryName}}</option>
    </select>
</td>
<td><input type="number" id="stock" ng-model="existingProduct.stock" class="form-control input-sm">
</td>
<td><input type="number" min="0" step="0.01" id="price" ng-model="existingProduct.price" class="form-control input-sm">
</td>
<td>
    <button ng-click="updateProduct(p)" class="btn-xs btn-danger">
        <span class="glyphicon glyphicon-floppy-disk"></span></button>
</td>
<td>
    <button ng-click="reset()" class="btn-xs btn-primary">
        <span class="glyphicon glyphicon-remove-circle"></span></button>
</td>
</body>
</html>