<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<td>{{p.id}}</td>
<td>{{p.name}}</td>
<td>{{p.description}}</td>
<td>{{p.category}}</td>
<td>{{p.stock}}</td>
<td>{{p.price | currency:"&euro;"}}</td>
<td>
    <button ng-click="editProduct(p)" class="btn-xs btn-warning"><span class="glyphicon glyphicon-pencil"></span></button>
</td>
<td>
    <button ng-click="deleteProduct(p)" class="btn-xs btn-danger"><span class=" glyphicon glyphicon-trash"></span></button>
</td>
</body>
</html>